/* general */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Raleway, Helvetica, sans-serif;
    font-style: normal;
}

#about{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

#about img {
    padding: 15px;
    width: 530px;
    height: 583px;
    filter: drop-shadow(5px 7px 7px rgba(46, 48, 71, 0.21));
}

.about-text {
    align-self: normal;
    padding: 50px;
    padding-top: 30px;
}

.about-text h3 {
    text-transform: uppercase;
    color: #3bba9c;
    font-size: 2.25em;
    line-height: 42.26px;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}


.about-text p:first-of-type, .about-text p:nth-of-type(2){
    font-weight: 400;
    font-size: 1.125em;
    line-height: 21.3px;
    padding-right: 90px;
}

.about-text p:nth-of-type(3){
    color: #3bba9c;
    font-weight: 400;
    line-height: 45px;
    font-size: 2.25em;
    font-family: "Alex Brush";
}

.partner {
    background: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact {
    background-color: #2e3047;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: auto;
    grid-gap: 100px;
    width: 100%;
}

.left {
    grid-column: 1/2;
    color: #fff;
}

.left h3 {
    color: #3bba9c;
    text-transform: uppercase;
    width: 226px;
    /* left: 70px;
    top: 4209px; */
    font-weight: 900;
    font-size: 36px;
}

.right {
    grid-column: 2/3;
    color: #3bba9c;
    margin-top: 30px;
}

form label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

input {
    width: 100%;
    border-radius: 50px;
    height: 30px;
    outline: none;
    border: 1px solid #fff;
    margin: 5px 0 20px 0;
    padding: 15px;
}

input:focus,
textarea:focus {
    border: 2px solid #3bba9c;
}

hr {
    width: 50%;
    background-color: #3bba9c;
    height: 2px;
    border: 1px solid #3bba9c;
}

button {
    background-color: #3bba9c;
    border-radius: 50px;
    outline: none;
    border: 1px solid #3bba9c;
    width: 200px;
    padding: 20px 0 20px 0;
    font-weight: bold;
    font-size: 18px;
}

input:hover,
textarea:hover {
    transform: scale(0.999);
}

button:hover {
    transform: scale(0.98);
    border: 2px solid #fff;
}

.textarea {
    height: 100px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px solid #fff;
    margin: 5px 0 20px 0;
    padding: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

i {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.fas,
.fab {
    color: #3bba9c;
    font-size: 20px;
}

footer {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 20px 0 0 0;
}

@media only screen and (max-width:1024px){
    #about{
        flex-wrap: wrap;
    }
}