/* general */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica, sans-serif;
}

.partner {
    background: #f6f6f6;
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
