/* Header */
html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    overflow-x: hidden;
}

#header h1 {
    margin: 0px;
}

#header {
    position: relative;
    background-image: url(assets/images/mesh-gradient\ \(3\)\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hamburger{
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navbar a {
    text-decoration: none;
}

.navbar-brand {
    cursor: text;
    color: #3bba9c;
    font-weight: 700;
    line-height: 42px;
    font-size: 2.25em;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-link a{
    padding-right: 35px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 21px;
    font-size: 1.125em;
}

 .nav-link a:hover {
    text-decoration: underline;
    text-decoration-color: #3bba9c;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

#register {
    padding-right: 0px;
    padding: 12px 20px;
    text-align: center;
    background-color: #3bba9c;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

#register:hover {
    text-decoration: none;
    background-color: #fff;
    color: #3bba9c;
}

#header h2{
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GFS Didot';
    font-weight: 400;
    line-height: 112px;
    font-size: 5.625em;
    text-shadow: 7px 9px 5px rgba(0, 0, 0, 0.35);
}

#header h2:first-of-type{
    top: 350px;
    left: 190px;
}

#header h2:nth-of-type(2){
    top: 480px;
    left: 880px;
}

.slider {
    width: 100vw;
    margin: auto;
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }  
  
  .slide {
    width: 100vw;
    text-align: center;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }  
  
  .counter {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 800px;
    bottom: 0px;
    padding-right: 30px;
  }  
  
  .counter a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #43455c;
    border-radius: 50%;
   
  }
  
   .counter a:hover {
    background-color: #3bba9c;
  }


  /* Media Queries */
  @media only screen and (max-width:1024px){
    .navbar{
        padding: 40px;
    }

    #header h2:first-of-type{
        left: 100px;
    }
    
    #header h2:nth-of-type(2){
        left: 600px;
    }

    .counter {
        padding-right: 15px;
    }
  }
  
  @media only screen and (max-width:768px){
    #header {
        background-position: 25% 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    

    .nav-link {
        position: fixed;
        left: -100%;
        top: 8rem;
        width: 100%;
        height: auto;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-link.active {
        left: 0;
    }

    .nav-link a{
        padding: 50px;
    }
    
    #header h2:first-of-type{
        left: 40px;
    }
    
    #header h2:nth-of-type(2){
        left: 350px;
    }

      .counter {
        justify-content: center;
        padding-right: 0px;
        top: 850px;
      }  
  }

  @media only screen and (max-width:425px){
    .navbar {
        padding: 40px;
    }

    .nav-link a{
        padding-right: 35px;
    }


    #header h2:first-of-type{
        top: 500px;
        left: 25%;
    }
    
    #header h2:nth-of-type(2){
        top: 600px;
        left: 5%;
    }

      .slide {
        width: 100vw;
        text-align: center;
        flex-shrink: 5;
      }  
      
    
    .nav-link {
        top: 10rem;
        width: 100vw;
        flex-wrap: wrap;
        height: 150px;
    }
    
    #register {
        margin-left: 100px;
    }
  }

  @media only screen and (max-width:375px){
    .navbar {
        padding: 30px;
    }

    .nav-link a{
        padding-right: 30px;
    }


    #header h2:first-of-type{
        left: 20%;
    }
    
    #header h2:nth-of-type(2){
        left: 0%;
        font-size: 5.5em;
    }

  }

  @media only screen and (max-width:320px){
    .navbar {
        padding: 25px;
    }

    .nav-link a{
        padding-right: 10px;
    }


    #header h2{
        display: none;
    }


    .slide {
        text-align: left;
      }  
  }