body{
    background-color: lightgray;
}

.nav-item img{
    height: 40px;
}

footer ul li{
    border: none!important;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

.inspiration .row .card-body img{
    height: auto;
    width: 50px;
    position: relative;
}

.inspiration .row .card-body p{
    color: grey;
    /* font-size:9px; */
}

input{
    display: none;
}

.portfolios .row .first{
    background-image: url(../img/Rectangle\ 55.png); 
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    height: 300px;
}

.portfolios .row .second{
    background-image: url(../img/Rectangle\ 56.png); 
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    height: 300px;
}

.portfolios .row .third{
    background-image: url(../img/Rectangle\ 55-1.png); 
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    height: 300px;
}
