body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.demo {
    color: #ffff;
    background: #068006;
    padding: 1.2rem;
    border-radius: 0.25rem;
    margin: .5rem;
    text-align: center;
}