@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root{
    --primary-color-1: #17431B;
    --sec-color-2:  #B1D2A8;
    --tert-color-3:  #FFFFFF;
    --text-color:#000000;
    --hover-color:#3BBA9C;
    --primary-font: 'Raleway', sans-serif;
    --sec-font : 'Playfair Display', serif;
}
*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 18px;
    line-height: 1.4;
}
h1,h3{
   font-size: 2em;
   font-weight: bold;
}
h2{
   font-size: 1.6em;
}
h4{
   font-size: 1.1em;
}
img{
   width: auto ;
   /* max-width: 100%;   */
   height: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header{
  background: var(--primary-color-1);
  position: sticky;
  top: 0;
   z-index: 1;
  /*box-shadow: 1px 2px 5px rgba(0,0,0, 0.7); */
}
.nav-style{
     margin: 0px 40px;
     padding: 30px 10px;
     cursor: pointer;
}
.nav-style h1 a{
    grid-column: 1/5;
    grid-row: 1;
    color: var(--tert-color-3);
    font-family: var(--sec-font);
}
.nav-style ul{
    display: flex;
    align-self: center;
    grid-column: 6/12;
    font-family: var(--primary-font);
    font-size: .9em;
}
.nav-style li{
    padding: 0 20px;
}
.nav-style li a{
   color: var(--tert-color-3);
}
.nav-style li a:hover{
    color: var(--hover-color);
}
.login{
    background: var(--tert-color-3);
   outline: none;
   border: none;
   border-radius: 6px;
   grid-column: 13/14;
   padding: 0px 15px;
}
.login a{
    color: var(--text-color);
    font-size: 1.2em;
    font-weight:bolder;
    font-family: var(--primary-font);
}
.login:hover{
    background: var(--sec-color-2);
}
.login a:hover{
  color: var(--tert-color-3);
}
.hero-section{
    background: var(--primary-color-1);
    height: 802px;
}
.cover-image{
    margin-top: 15px;
     grid-column: 1/7;
    background-image: url(./asserts/Vector.png);
    background-repeat: no-repeat;
}
.cover-image img{
}

.welcome-texts{
     margin-top: 45px;
    grid-column: 7/11;
}
.bball-images{
     margin-top: 45px;
    grid-column: 12/13;
}
/* .logo{
    height: 200px;
    background: var(--sec-color-2);
} */